<div class="row">
  <div class="col-lg-3">
    <!-- Sidebar -->
    <div class="sidebar px-2 pt-3">
      <!-- Contenido del sidebar -->
      <%= form_with url: root_path, method: :get do |form| %>
        <!-- Cuadro de búsqueda de tweets anteriores -->
        <div class="card mb-2">
          <div class="card-body">
            <div class="input-group">
              <%= form.text_field :buscar, class: "form-control", placeholder: "Buscar tweets anteriores", value: @consulta %>
              <%= form.submit 'Buscar', class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Widget del sidebar -->
      <p><%= image_tag("qr", width: 450, class: "img-fluid")%></p>
    </div>
  </div>
  <div class="col-lg-9">
    <!--alert-->
    <%= render "alert" %>
    <!-- Contenido principal -->
    <%= form_with url: "/crear", method: :create do |form| %>
      <div class="tweet-form">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <%= form.text_area :description, class: "form-control", placeholder: "Escribe tu tweet"  %>
            </div>
            <div class="form-group py-2">
              <%= form.text_field :username, class: "form-control", placeholder: "Ingresa tu Usuario" %>
            </div>
            <%= form.submit "Enviar", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- tuiters -->
    <%= render "tuit" %>
    <p><%== pagy_bootstrap_nav(@pagy) %></p>
  </div>
</div>
